<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.juhyang.mbting.comment.dao.CommentDAO">

	<insert id="insertComment" parameterType = "map">
	INSERT INTO `server_comment`
	(`user_name`,
	 `comment`,
	 `user_id`,
	 `server_postId`,
	 `createdAt`,
	 `updatedAt`
	)
	VALUES(
	#{userName},
	#{comment},
	#{userId},
	#{postId},
	 now(),
	 now()
	)
	</insert>
</mapper>	