<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper  namespace = "com.juhyang.mbting.like.dao.LikeDAO">
<insert id = "insertLike" parameterType = "map" >
INSERT INTO `like`(
`sender`,
`receiver`,
`createdAt`
)
VALUES(
	#{userId},
	#{receiver},
	now()
)

</insert>

<select id ="countLike" resultType ="int">
SELECT COUNT(1)
FROM
`like`
WHERE
`receiver` = #{userId}
</select>

<select id ="selectLikeCountByUserId"  parameterType="map"  resultType ="int">
SELECT COUNT(*)
FROM
`like`
WHERE
`receiver` = #{receiver}
AND
`sender` = #{userId}
</select>

<select id ="selectHowLikesMe" resultType ="int">
SELECT
	`sender`
FROM
	`like`
WHERE
	`receiver` = #{userId}
</select>


</mapper>
