<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace = "com.juhyang.mbting.user.dao.UserDAO">
	<insert id="InsertUser" parameterType = "map">
	INSERT INTO `user`
	(`loginId`,
	 `password`,
	 `userName`,
	 `birthday`,
	 `sex`,
	 `mbti`,
	 `email`,
	 `createdAt`,
	 `updatedAt`
	)
	VALUES(
	#{loginId},
	#{password},
	#{userName},
	#{birthday},
	#{sex},
	#{mbti},
	#{email},
	 now(),
	 now()
	)
	</insert>
	
	<select id="selectUser" parameterType="map" resultType="com.juhyang.mbting.user.model.User">
		SELECT 
			`id`
			, `loginId`
			, `password`
			, `userName`
			, `email`
			, `createdAt`
			, `updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId} 
			AND `password` = #{password}
	
	</select>
	<select id = "IsDuplicate" parameterType = "String" resultType ="boolean">
	SELECT count(1) FROM `user` where  `loginId` = #{loginId}; 
	</select>
	
	<select id ="IsEmailExist" parameterType = "String" resultType ="int">
	SELECT
	 count(1) 
	FROM
	  `user` 
	where
	  `email` = #{email}; 
	</select>
	
	<select id ="selectUserByEmail"  parameterType = "String" resultType ="String">
	SELECT
	 `loginId`
	FROM
	  `user` 
	where
	  `email` = #{email}; 
	</select>
	
	<update id = "updatePassword">
	UPDATE `user`
 		SET
 			`password` = #{password}
 		WHERE
 			`loginId` = #{loginId}
	</update>
	

</mapper>