@charset "UTF-8";
@font-face {
    font-family: 'Recipekorea';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Recipekorea.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.empty{
	width:100%;
	height:300px;
	font-family: 'Recipekorea';
	
}

.questionImg{
	width:500px;
	height:500px;
	
}

